{% extends 'layout/page-center.html.twig' %}

{% block content %}
    <div class="form-page-wrapper">
        <h1 class="h3 mb-3 font-weight-normal">
            {% block form_title %}{% endblock %}
        </h1>

        {{ form_start(form) }}
        {% block form_items %}{% endblock %}

        <div class="btn-group d-flex">
            {% block form_buttons %}{% endblock %}
        </div>
        {{ form_end(form) }}

        {% block form_other %}{% endblock %}
    </div>
{% endblock %}