{% extends 'form/form-center.html.twig' %}

{% block title %}
    Add Custom Field
{% endblock %}

{% block form_title %}
    Add Custom Field
{% endblock %}

{% block form_items %}
    {{ form_widget(form) }}
{% endblock %}

{% block form_buttons %}
    <button class="btn btn-primary">Add Field</button>
{% endblock %}
