{% extends 'form/form-center.html.twig' %}

{% block title %}
    Create Support Ticket
{% endblock %}

{% block form_title %}
    Create Support Ticket
{% endblock %}

{% block form_items %}
    {{ form_widget(form) }}
{% endblock %}

{% block form_buttons %}
    <button class="btn btn-primary">Create Ticket</button>
{% endblock %}
