// Body
$main-bg: rgba(232, 232, 232, 1);

// Typography
$font-family-base: 'JetBrains Mono', monospace;
$line-height-base: 1.6;

$logo-color: rgba(35, 35, 35, 1);
$logo-font-family: 'JetBrains Mono', monospace;
$logo-font-weight: 700;

$footer-copyright-bg: rgba(34, 34, 34, 1);
$footer-copyright-color: rgba(232, 232, 232, 1);
$footer-copyright-font-size: 0.75rem;
$footer-copyright-font-family: 'JetBrains Mono', monospace;
$footer-copyright-font-weight: 700;
