{% extends 'form/form-center.html.twig' %}

{% block title %}
    Create New User
{% endblock %}

{% block form_title %}
    Create New User
{% endblock %}

{% block form_items %}
    {{ form_widget(form) }}
{% endblock %}

{% block form_buttons %}
    <button class="btn btn-success">Save</button>
{% endblock %}

